extend layout

block content
  h1 Chat rooms
  a.btn.btn-primary(href="/admin/rooms/add") Create a new chat room
  table.table.table-striped
    theadtr
      th name
      th id
    tbody
       each room in rooms
        tr
        td=room.name
        td=room.id
